/*===================================================
***************comon styles & utilities**************
=====================================================*/

    /*---------- font ----------*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

    /*---------- Universile styles ---------- */
body{
    font-family: 'Work Sans', sans-serif;
    color: #131313;
    margin: 0;
}

/*===================================================
***********************Header**********************
=====================================================*/

/* ----------------navebar--------------- */
header {
    background: #FFF4E7;
    width:100%;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;
}

nav h3 {
    font-size: 45px;
    line-height: 53px;
    font-weight: 700;
}

nav div {
    display: flex;
    justify-content: space-around;
    padding: none;
    list-style-type: none;
    min-width: 477px;
    align-items: center;

}
nav div li a {
    font-size: 18px;
    line-height: 26px;
    text-decoration: none;
    color: #131313;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 20px;
    padding-bottom: 50px;
}

.title {
    margin: auto;
    max-width: 862px;
    max-height: 225px;
}

.title h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 75px;
    margin: 0px;
    text-align: center;
}

.title p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
}

.banner button {
    background-color: #ff900e;
    border: none;
    border-radius: 5px;
    width: 180px;
    height: 64px;
    color: wheat;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 25px;
}

.banner img{
    width: 1000px;
    height: auto;
}


/*===================================================
***********************Body**********************
=====================================================*/

/* ----------------Team Section--------------- */
.team-section {
    margin-top: 85px;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.team img {
    width: 242px;
    height: 242px;
}

.feature {
    margin-left: 75px;
    max-width: 537px;
    max-height: 304px;
}

.feature h2 {
    font-style: bold;
    font-size: 40px;
    line-height: 53px;
}

.span-one {
    color: #727272;
}

.span-two {
    color: #ff900e;
}

.feature p {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

.feature button {
    background-color: #ff900e;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    color: wheat;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 25px;
}

/* ----------------Feature  Section--------------- */

.feature-section {
    margin-top: 130px;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
}

.features {
    
}

.feature-header {
    display: flex;
    margin: 0;
}

.line {
    min-width: 5px;
    background-color: #ff900e;
}

.feature-header h2 {
    font-weight: 900;
    font-size: 40px;
    max-width: 400px;
}

.features p {
    max-width: 400px;
}

.feature-curt {
    box-shadow: 0px 5px 5px 5px #e9e0e0;
    max-width: 400px;
    border-radius: 5px;
    padding: 15px;
    margin-top: 15px;
}

.feature-curt h5 {
    margin: 0;
}

.feature-curt p {
    margin: 0;
}

.feature-section img {
    width: 508px;
    height: 750px;
    margin-left: 10px;
}

.exprience {
    display: flex;
    align-items: center;
    justify-content: center;
}

.exprience button {
    background-color: #ff900e;
    color: #e9e0e0;
    border: none;
    width: 200px;
    border-radius: 5px;
}

/* ----------------Facts Section--------------- */

.facts-section {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
}

.facts-section h2 {
    margin: 0;
}

.fact-info {
    max-width: 500px;
}

.facts {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.fact {
    text-align: center;
    border: solid #ff900e 1px;
    padding: 20px;
    width: 150px;
    height: 100px;
    border-radius: 5px;
    transition: transform .2s;
}
.fact:hover  {
    transform: scale(1.2);
}

.fact h2{
    margin: 0;
}
.fact p{
    margin: 0;
}

.fact img {
    width: 25px;
    height: 25px;
}


/*===================================================
***********************Footer**********************
=====================================================*/

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 100px;
}

.sponspors-ingo {
    text-align: center;
    margin-bottom: 30px;
}

.sponspors-ingo h2 {
    margin: 0;
}

.sponspors-ingo p {
    margin: 0;
    font-size: x-small;
}

.sponspors {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.sponspors img {
    width: 150px;
    height: 45px;
}

.copyright {
    margin-top: 50px;
    background: #FFF4E7;
    text-align: center;
}

.copyright p {
    font-size: x-small;
}




/*===================================================
***********************media query********************
=====================================================*/

/* small device */

@media only screen and (max-width:688px){
    nav {
        flex-direction: column;
    }

    nav div {
        flex-direction: column;
    }

    .banner img {
        width: 300px;
        height: 150px;
    }

    .title h1 {
        all: unset;
        text-align: center;
    }

    .team-section {
        flex-direction: column;
    }

    .team {
        grid-template-columns: 1fr;
    }

    .feature-section {
        flex-direction: column;
    }
}

/* medium device */

@media only screen and (min-width:688px) and (max-width: 992px){
    
}